In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
plus = pd.read_csv("../data/A_plus_normalized_levels.csv")
minus = pd.read_csv("../data/A_minus_normalized_levels.csv")
split = pd.read_csv("../data/split_to_train_validation_test_disjoint_sets_ids.csv")
seq = pd.read_csv("../data/mRNA_sequences.csv")
split

       train_ids  validation_ids  test_ids
0              0             1.0   65536.0
1            119             3.0       2.0
2            129             4.0   32771.0
3            181             6.0       5.0
4            190             7.0   65545.0
...          ...             ...       ...
67275      89990             NaN       NaN
67276      89991             NaN       NaN
67277      89994             NaN       NaN
67278      89997             NaN       NaN
67279      89999             NaN       NaN

[67280 rows x 3 columns]

In [48]:
plus.columns = ["id"] + [f"{i}h+" for i in range(1, 9)] + ["10h+"]
minus.columns = ["id"] + [f"{i}h-" for i in range(1, 9)] + ["10h-"]

In [50]:
df = pd.merge(seq, plus, on="id")
df = pd.merge(df, minus, on="id")
df

,id,seq,1h+,2h+,3h+,4h+,5h+,6h+,7h+,8h+,10h+,1h-,2h-,3h-,4h-,5h-,6h-,7h-,8h-,10h-
0,S0_M_T1,TGTCCCCGGGTCTTCCAACGGACTGGCGTTGCCCCGGTTCACTGGG...,1.15020,1.12560,1.40050,0.23320,0.73195,-0.47038,-0.57411,-0.25983,-0.76564,0.97764,0.37349,0.13216,-1.22420,-2.99180,-3.08940,-2.586500,-2.67220,-3.33630
1,S0_M_T10,AGATTTTTGGTTCAATATGCTCCTTGAGTGGAGTCTTAGTGATTGC...,2.51900,2.32190,2.86350,2.06970,2.37830,1.72230,1.66150,0.57971,1.03080,2.52020,2.04590,1.81520,1.92080,1.38190,0.88375,0.996260,0.83878,-0.87890
2,S0_M_T100,ACCCGGCGCCGCTCGACCCGGAGCGAGGAGTTGACCCGGAGCGAGG...,-1.84480,-1.45840,-2.21350,-3.57420,-2.20670,-4.27770,-5.35860,-4.50780,-5.01360,-2.54590,-3.62650,-1.66970,-4.01930,-4.97260,-4.06120,-5.579400,-4.99410,-5.32870
3,S0_M_T1000,ATGAGGGCTGGAATTTGCATTGAAACACTGGTCCAGTCGCTGTGTA...,-0.43334,-1.45840,0.56606,-0.98919,-1.79160,-2.69280,-4.35860,-3.50780,-6.01360,-0.54592,-0.16708,-1.34930,-1.70880,-2.41330,-3.08940,-3.000800,-4.99410,-5.32870
4,S0_M_T1001,CCTTAGTGCCCTTAAAATAATGATTTAAGCATTTTACTGTATGTAT...,1.42310,1.62810,1.80040,1.51330,0.37831,-0.37085,-1.38010,-2.50780,-3.01360,1.73950,1.62140,1.49340,1.17620,0.51392,0.46932,-0.780860,-1.40910,-4.33370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,S3_H_T9995,TTGTAGCTGTCAATTGTATTTAATATACTTTTTTGTCTTTTTAATT...,2.86850,3.00000,3.21420,2.83520,2.60070,2.09730,2.26090,1.49220,-0.76564,2.56260,2.69540,2.68050,2.78670,1.15970,1.40680,2.365400,2.05030,-0.29409
89996,S3_H_T9996,AAAACACCACTACATATGTTTCTCATAAGCGCAACTGTAGTGTTAT...,3.22290,2.96680,3.19770,2.80090,2.90880,2.39470,2.31740,1.91850,0.81932,3.37290,2.79980,2.73240,2.47430,2.19860,2.14950,1.620700,1.39820,0.46875
89997,S3_H_T9997,AGGATTTTTTTTTTCACCAATGCTCTTTAATACACACTTGCCTATA...,-0.26365,2.26850,2.31000,1.12630,1.29580,0.24583,0.61754,-0.92279,-3.01360,0.91351,0.83292,1.13110,1.35900,-2.41330,-1.78460,-0.500880,-1.82420,-3.33630
89998,S3_H_T9998,GGTGCTTCAAAGAGTGATTACCCACTAACTAATGAACCCAGACTGT...,1.08880,1.06430,1.34170,0.33273,0.60070,-0.19027,-0.21193,-0.80732,-1.55410,1.20900,0.46095,0.32453,0.55192,0.79741,0.40802,-0.064923,-1.29370,-2.53000
89999,S3_H_T9999,CTGCAACCATAACTCTAATTGTAGATGTGAAGAAGATTAATGACAG...,1.26560,0.86265,1.07920,0.88527,0.73195,-0.10781,-0.79621,-2.50780,-2.42860,0.70201,0.95845,1.13110,0.92102,-1.41990,-2.10360,-0.588300,-1.99410,-4.33370

In [51]:
train_df = df.iloc[split["train_ids"]]
val_df = df.iloc[split["validation_ids"].dropna().map(int)]
test_df = df.iloc[split["test_ids"].dropna().map(int)]

In [52]:
train_df.to_csv("../data/train.csv", index=False)
val_df.to_csv("../data/val.csv", index=False)
test_df.to_csv("../data/test.csv", index=False)

In [53]:
df = pd.read_csv("../data/test.csv")
test_mac = df[df["1h+"] >= 2.0]
test_mac.to_csv("../data/test_mac.csv", index=False)